
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/" method="post">
    <p>Name: <input type="text" name="name" value="" /></p><br />
    <p>Username: <input type="text" name="username" value="" /></p><br />
    <p>Password: <input type="password" name="password" value="" /></p><br />
    <p>
        Gender:
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female<br>
    </p>
    <p>
        Interest:
        <input type="checkbox" name="swim" value="swim"> swim
        <input type="checkbox" name="read" value="read"> read
        <input type="checkbox" name="See a movie" value="rSee a movie"> See a movie<br>
    </p>
    <p>
        Self introduction:
        <textarea name="Self_introduction"></textarea>

    </p>

    <input type="submit" name="submit" value="送出" /> <input type="reset" name="重置" value="重置" />
</form>